#mailBox {
  width: 100%;
  border: 3px solid black;
  border-radius: 23px;
}

#mailHeader {
  padding: 10px;
  background-color: #d9807e;
  color: #fff;
  display: flex;
  justify-content: space-between;
  border-radius: 20px 20px 0 0;
  border-bottom: 3px solid black;
}

.headerLeft {
  display: flex;
  gap: 6px;
}

.user {
  display: flex;
  height: 40px;
  padding: 0 15px;
  border-bottom: 3px solid black;
}

#mailBody {
  margin: 5px;
  padding: 0 15px;
  text-align: justify;
  height: 250px;
  overflow-y: scroll;
}
