#root {
  margin: 0 auto;
  text-align: center;
}

p {
  margin: 0;
}

#login-box {
  /* TODO: add styles here */
  display: flex;
  flex-direction: column;
  width: 250px;
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#view-page {
  width: 80vw;
}

#view-page-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
