.emailBox {
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.emailButton {
  flex: 1;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  display: flex;
  gap: 10px;
}

.emailButton:hover {
  background-color: #f5f5f5;
  border-radius: 5px;
}

.emailFrom {
  font-weight: bold;
  margin: 0;
  color: #333;
}

.emailSubject {
  font-weight: bold;
  margin: 0;
  color: #555;
}

.emailBody {
  margin: 0;
  color: #666;
  font-size: 0.9em;
}

.emailDate {
  margin: 0;
  color: #888;
  font-size: 0.8em;
  /* align-self: flex-end; */
}
